name: Build - CI
on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
  push:
    branches:
      - main

jobs:
  knip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - uses: denoland/setup-deno@v2
      - run: bun install
      - run: bun run knip
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - uses: denoland/setup-deno@v2
      - run: bun install
      - run: bun run verify
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - uses: denoland/setup-deno@v2
      - run: bun install
      - run: bun run lint
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - uses: denoland/setup-deno@v2
      - run: bun install
      - run: bun run test --coverage=coverage/profile
      - run: bun run coverage --lcov > coverage/lcov.info
      # - name: Setup LCOV
      #   uses: hrishikesh-kadam/setup-lcov@v1
      # - name: Report code coverage
      #   uses: zgosalvez/github-actions-report-lcov@v4
      #   with:
      #     coverage-files: coverage/lcov.info
      #     minimum-coverage: 49
      #     artifact-name: coverage-report
      #     github-token: ${{ secrets.GITHUB_TOKEN }}
      #     update-comment: true
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/lcov.info
          slug: ndelangen/nomic
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: streetsidesoftware/cspell-action@v8
        with:
          config: './cspell.json'
          use_cspell_files: true
