name: Core - Hook
on:
  workflow_run:
    workflows:
      - Core - PR
    types:
      - requested

jobs:
  rules:
    runs-on: ubuntu-latest
    environment: safe
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - uses: denoland/setup-deno@v2
      - run: bun install
      - name: Rules check
        run: bun run check
        env:
          SHA: ${{ github.event.workflow_run.head_sha }}
          TYPE: MAIN
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
