name: Core - Action

on:
  check_run:
    types:
      - requested_action

jobs:
  rules:
    runs-on: ubuntu-latest
    environment: safe
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - uses: denoland/setup-deno@v2
      - run: bun install
      - name: Rules action
        run: bun run action-event
        env:
          ACTION_NAME: ${{github.event.requested_action }}
          ACTION_PAYLOAD: ${{ toJson(github.event.action) }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
