name: Core - Merge
on:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.check_merge.outputs.skip }}
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 20
      - name: Check for merge commit
        id: check_merge
        run: |
          last_merge_sha=$(git log --pretty=format:"%H" --merges -n 1)

          echo $last_merge_sha
          echo ${{ github.sha }}

          if [[ -z "$last_merge_sha" ]]; then
            echo "skip=true" >> $GITHUB_OUTPUT
          elif [[ "$last_merge_sha" == ${{ github.sha }} ]]; then
            echo "skip=false" >> $GITHUB_OUTPUT
          else
            echo "skip=true" >> $GITHUB_OUTPUT
          fi
  merge:
    runs-on: ubuntu-latest
    environment: safe
    needs: check
    if: ${{ needs.check.outputs.skip == 'false' }}
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
          token: ${{ steps.generate-token.outputs.token }}
      - uses: oven-sh/setup-bun@v2
      - uses: denoland/setup-deno@v2
      - run: bun install
      - name: Rules progress
        run: bun run progress
      - name: Run core-yaml
        id: yaml-data
        uses: ndelangen/action-read-yaml@main
        with:
          config: './state/core.yml'
      - name: Get user email
        id: email-data
        uses: ndelangen/email-by-username-action@main
        continue-on-error: true
        with:
          github-username: ${{ steps.yaml-data.outputs['players.active'] }}
          token: ${{ steps.generate-token.outputs.token }}
      - run: |
          echo "active player = ${{ steps.yaml-data.outputs['players.active'] }}"
          echo "email = ${{ steps.email-data.outputs.email }}"
      - name: Commit changes
        run: |
          git config --local user.name ${{ steps.yaml-data.outputs['players.active'] }}
          git config --local user.email ${{ steps.email-data.outputs.email || 'github-action@gihub.com' }}
          git commit -a --allow-empty -m "new active player = ${{ steps.yaml-data.outputs['players.active'] }} [merge] by ${{ github.actor }} [skip ci]"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ steps.generate-token.outputs.token }}
