name: Merge
on:
  push:
    branches: [main]

jobs:
  merge:
    runs-on: ubuntu-latest
    environment: safe
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false
          token: ${{ steps.generate-token.outputs.token }}
      - uses: oven-sh/setup-bun@v1
      - uses: denoland/setup-deno@v1
      - run: bun install --production
      - run: bun run progress
      - name: Run core-yaml
        id: yaml-data
        uses: jbutcher5/read-yaml@main
        with:
          file: './state/core.yml'
          key-path: '["players", "active"]'
      - name: Get user email
        id: email-data
        uses: ndelangen/email-by-username-action@main
        continue-on-error: true
        with:
          github-username: ${{ steps.yaml-data.outputs.data }}
          token: ${{ steps.generate-token.outputs.token }}
      - run: |
          echo "active player = ${{ steps.yaml-data.outputs.data }}"
          echo "email = ${{ steps.email-data.outputs.email }}"
      - name: Commit changes
        run: |
          git config --local user.name ${{ steps.yaml-data.outputs.data }}
          git config --local user.email ${{ steps.email-data.outputs.email || 'github-action@gihub.com' }}
          git commit -a -m "new active player = ${{ steps.yaml-data.outputs.data }} [merge] by ${{ github.actor }} [skip ci]"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ steps.generate-token.outputs.token }}
